@import url("/src/main/main.css");


div.login{
    display: block;
    text-align: center;
    top: 10%;
    margin-left: auto;
    width: 60%;
    margin-top: 2%;
}

h2 {
    color: black
}

form{
    width: 80%;
    height: auto;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    color: gray;
}

form label{
    padding-top: 10px;
    display: flex;
}

form input[type = text]{
    width: 95%;
    height: 35px;
    background-color: rgb(245, 245, 245);
    border-color:  rgb(230, 230, 230);
    border-style: double;
    border-width: 2px;
    font-size: 1em;
}

.button_div{
    text-align: center;
    float: right;
}

form input[type = submit]{
    font-size: 1em;
    width: 150%;
}