@import url("/WebEfectividad_2022/src/main/main.css");

.formulario {
    width: 75%;
    margin: 10px auto;
    text-align: left;
    background-color: rgb(239, 239, 239);
    border: 1px solid black;
}

form {
    margin: 10px;
    padding: 10px;
}   

.form_button {
    margin: 5px;
    padding: 10px;
    background-color: #023cba;
    color: white;
}

.form_button:hover {
    background-color: white;
    color: black;
}

div.formulario {
    display: block;
    text-align: center;
    top: 10%;
    margin-left: auto;
    width: 60%;
    margin-top: 2%;
}

h2 {
    color: black
}

form{
    width: 80%;
    height: auto;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    color: gray;
}

form label{
    padding-top: 10px;
    display: flex;
}

form input[type = text]{
    width: 95%;
    height: 35px;
    background-color: rgb(245, 245, 245);
    border-color:  rgb(230, 230, 230);
    border-style: double;
    border-width: 2px;
    font-size: 1em;
}

textarea{
    width: 95%;
    background-color: rgb(245, 245, 245);
    border-color:  rgb(230, 230, 230);
    border-style: double;
    border-width: 2px;
    resize: none;
    font-size: 1em;
    color: gray;
    width: 80%;
}


.button_div{
    text-align: center;
    float: right;
}

form input[type = submit]{
    font-size: 1em;
    width: 150%;
}