@import url("/WebEfectividad_2022/src/main/main.css");

h2, h3{
    font-family: 'Lexend Deca';
    text-align: center;
    color: #023cba  ;
}

.form_button {
    margin: 5px;
    padding: 10px;
    background-color: #023cba;
    color: white;
    font-family: 'Lexend Deca';
}

.form_button:hover {
    background-color: white;
    color: black;
    font-family: 'Lexend Deca';
}

.button_div{
    text-align: center;
}

.consultaPeticion {
    color: #023cba  ;
    width: 75%;
    margin: 10px auto;
    padding: 10px auto;
    text-align: left;
    background-color: rgb(2, 60, 186, 0.1);
    border: 1px solid #023cba;
    font-family: 'Lexend Deca';
    border-radius: 25px;

}

.datosPeticion {
    margin: 10px;
    padding: 10px;
}





