@import url("/WebEfectividad_2022/src/main/main.css");

h2, h3{
    font-family: 'Lexend Deca';
    text-align: center;
    color: #023cba  ;
}

.consultaPeticion {
    width: 75%;
    margin: 10px auto;
    padding: 10px auto;
    text-align: left;
    background-color: rgb(239, 239, 239);
    border: 1px solid black;
    font-family: 'Lexend Deca';
}

.datosPeticion {
    margin: 10px;
    padding: 10px;
}

