body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }

.navbar a {
    float: left;
    color: #023cba;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #023cba;
    color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: white;
}

.navbar img {
    width: 75px;
    height: 20px;
}