body {
    background-color: white;
}

.navbar {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }

.navbar a {
    float: left;
    color: #023cba;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #023cba;
    color: white;
}

.navbar img {
    width: 90px;
    height: 25px;
}

#logo:hover {
    background-color: white;
}