body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

.navbar {
    background-color: white;
    overflow: hidden;
    width: 100%;
  }

.navbar a {
    float: left;
    color: #023cba;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 17px;
    font-family: "Lexend Deca";
}

.navbar a:hover {
    background-color: #023cba;
    color: white;
}

.navbar img {
    width: 75px;
    height: 20px;
    background-color: white;
    margin: auto;
}

.navbar img:hover {
    background-color: white;
}

#logo:hover {
    background-color: white;
}

.login {
    width: 75%;
    margin: 10px auto;
    text-align: left;
    background-color: rgb(239, 239, 239);
    border: 1px solid black;
}