@import url("/WebEfectividad_2022/src/main/main.css");

#menu_grid {
    margin: auto;
    padding-bottom: 100px;
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 0%;
    grid-row-gap: 5%;
}

#menu_grid a {
    width: 400px;
    height: 275px;
}

#menu_grid img {
    width: 400px;
    height: 275px;
    align-items: center;
    justify-content:center;
    display: flex;
    filter: brightness(1);
}

#menu_grid img:hover {
    transform: scale(1.05);
    filter: brightness(0.6);
}
