@import url("/src/main/main.css");

:root {
    --nivel-1: #8dccad;
    --nivel-2: #f5cc7f;
    --black: black;
}

* {
    box-sizing: border-box;
}

ol {
    list-style: none;
}

body {
    text-align: center;
}

.grafica-equipo {
    max-width: 2000px;
    padding: 10px 0;
    margin: 0 auto;
}

.nivel-1-wrapper {
    position: relative;
    display: grid;
    padding: 0;
    margin: 0;
}

.nivel-1 {
    width: 175px;
    height: 250px;
    margin: 0 auto 40px;
}
   
.nivel-1::before {
    content: "";
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 37px;
    background: black;
}

.nivel-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}
   
.nivel-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: black;
}

.nivel-2-wrapper li {
    position: relative;
}

.nivel-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: black;
}

.nivel-2 {
    margin: 0 auto;
}

.img-equipo {
    width: 140px;
    height: 250px;
}