@import url("/src/main/main.css");

:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;
}

* {
    box-sizing: border-box;
}

ol {
    list-style: none;
}

body {
    text-align: center;
}

.grafica-equipo {
    max-width: 2000px;
    padding: 20px 0;
    margin: 0 auto;
}

.rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.level-1 {
    width: 175px;
    height: 250px;
    margin: 0 auto 40px;
    background: var(--level-1);
}
   
.level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}
   
.level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background: var(--black);
}

.level-2-wrapper li {
    position: relative;
}

.level-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2 {
    width: 175px;
    height: 250px;
    margin: 0 auto 40px;
    background: var(--level-2);
}
